<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Generic_Counter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Generic_Counter.My.MySettings>
            <setting name="forecolor" serializeAs="String">
                <value>192, 255, 255</value>
            </setting>
            <setting name="backcolor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="textFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="checked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deathChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="picDeathEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="nosound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uwu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="youdied" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="oof" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stepAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="selectedAudio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="animalCrossingChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="animalCrossingDarkChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customSound" serializeAs="String">
                <value />
            </setting>
            <setting name="customSoundChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customImageFilePath" serializeAs="String">
                <value />
            </setting>
        </Generic_Counter.My.MySettings>
    </userSettings>
</configuration>